.galery {
    width: 640px;
    height: 270px;
    overflow: hidden;
    position: static;
    margin-left: 34.99%;
    padding-left: 0;
    border-style: solid;
    border-radius: 20px;
}

.galery .fotos {
    width: 500%;
    animation-name: anima;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.galery .fotos img{
    width: 19.9%;
}


/*animação*/

@keyframes anima {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: -400%;}
}